html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.center {
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 1440px) {
  .center {
    width: 95%;
  }
}

body {
  font-family: "HelveticaNeueCyr";
}

.container-activities {
  margin-top: 90px;
  margin-bottom: 150px;
}
@media only screen and (max-width: 1024px) {
  .container-activities {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
@media only screen and (max-width: 600px) {
  .container-activities {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.container-activities h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 60px;
}
.container-activities .mini-nav {
  margin-bottom: 60px;
}
.container-activities .mini-nav a {
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
  color: #333;
  text-decoration: none;
}
.container-activities .mini-nav span {
  margin: 0 15px;
  vertical-align: text-bottom;
}
.container-activities p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #333;
}
.container-activities .activities-content {
  display: grid;
  -webkit-column-gap: 104px;
     -moz-column-gap: 104px;
          column-gap: 104px;
  grid-template-columns: 666px 524px;
}
@media only screen and (max-width: 1440px) {
  .container-activities .activities-content {
    grid-template-columns: 51% 45%;
    -webkit-column-gap: 4%;
       -moz-column-gap: 4%;
            column-gap: 4%;
  }
}
@media only screen and (max-width: 1024px) {
  .container-activities .activities-content {
    grid-template-columns: 1fr;
    row-gap: 60px;
  }
}
.container-activities .activities-content .left-content {
  display: grid;
  row-gap: 60px;
}
@media only screen and (max-width: 600px) {
  .container-activities .activities-content .left-content {
    row-gap: 30px;
  }
}
.container-activities .activities-content .left-content h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 30px;
}
.container-activities .activities-content .left-content .activity-info {
  padding: 5px 0 5px 40px;
  border-left: 3px solid #bd0007;
}
.container-activities .activities-content .right-content {
  background: #133d8d;
  padding: 50px 60px 60px 60px;
  color: white;
  max-height: 510px;
  height: 100%;
}
@media only screen and (max-width: 1280px) {
  .container-activities .activities-content .right-content {
    padding: 30px;
  }
}
@media only screen and (max-width: 600px) {
  .container-activities .activities-content .right-content {
    max-height: 95%;
  }
}
.container-activities .activities-content .right-content h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.container-activities .activities-content .right-content .projects-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  -webkit-column-gap: 44px;
     -moz-column-gap: 44px;
          column-gap: 44px;
  row-gap: 35px;
}
@media only screen and (max-width: 600px) {
  .container-activities .activities-content .right-content .projects-info {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}
.container-activities .activities-content .right-content .projects-info p {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: white;
}
.container-activities .activities-content .right-content .projects-info p.number {
  font-weight: 900;
  font-size: 64px;
  text-transform: uppercase;
}/*# sourceMappingURL=activities.css.map */